bin/
obj/
publish/
dist/

*.user
*.suo
*.rsuser
*.download

.vs/
.idea/

*.log

pack/mods/*
pack/resourcepacks/*
pack/config/*
pack/shaderpacks/*
pack/excluded-mods/*
!pack/mods/.gitkeep
!pack/resourcepacks/.gitkeep
!pack/config/.gitkeep
!pack/shaderpacks/.gitkeep
